extends layout

block content
  h1= title
  p Welcome to my web page
  p I am Yamini Reddy 
  button(type="button", class="bt n btn-secondary", onclick = "double()") I am a button 
  br
  br
  //- Add a div with id "double" and text "Up the amount"
  div#double Up the amount
  br
  //- Script block
  script.
    // JavaScript code
    var value = 0;
    var power = 1;

    function double() {
      value += 1;
      power *= 2;
      document.getElementById('double').innerText = `Two to the power ${value} is ${power}.`;
    }
    